.current {
  color: brown;
}

.next {
  color: forestgreen;
}
#players-list {
  width: 250px;
  margin: 0 auto;
}
body {
  justify-content: flex-end;
}
.img {
  width: 150px;
}
aside {
  justify-self: flex-end;
}
main {
  margin-right: 250px;
}
#comments {
  width: 200px;
}
